* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  background-color: #e0e0e0;
}

h1 {
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 1rem;
  font-size: 5rem;
}

.btn-container {
  display: inline-flex;
  gap: 22px;
  margin: 2.5rem;
}

button {
  border: none;
  background-color: #222;
  padding: 8px 16px;
  color: #fff;
}
